.resourceLinks table {
    margin: 60px auto 20px auto;
    text-align: center;
}

.text {
    visibility:hidden;
    position: relative;
    top: 90px;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
}

.awardsImage:hover .text, .businessImage:hover .text, .CADImage:hover .text, .electricalImage:hover .text, .mechanicalImage:hover .text, .programmingImage:hover .text {
    visibility:visible;
}

.awardsImage:hover > .awardsOverlay, .businessImage:hover > .businessOverlay, .CADImage:hover > .CADOverlay, .electricalImage:hover > .electricalOverlay, .mechanicalImage:hover > .mechanicalOverlay, .programmingImage:hover > .programmingOverlay {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: black;
    opacity: 0.5;
}

.awardsImage, .businessImage, .CADImage, .electricalImage, .mechanicalImage, .programmingImage {
    width: 200px;
    height: 200px;
}

.awardsImage {
    background: url("../images/subteams/awards.jpg");
}

.businessImage {
    background: url("../images/subteams/business.jpg");
}

.CADImage {
    background: url("../images/subteams/CAD.jpg");
}

.electricalImage {
    background: url("../images/subteams/electrical.jpg");
}

.mechanicalImage {
    background: url("../images/subteams/mechanical.jpg");
}

.programmingImage {
    background: url("../images/subteams/programming.jpg");
}

.resourceLinks td {
    padding: 30px 40px 30px 40px;
}

.awardsExpand, .businessExpand, .CADExpand, .electricalExpand, .mechanicalExpand, .programmingExpand {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    width: 764px;
    height: 478px;
    background-color: white;
    color: #678b98;
    font-family: "Roboto", sans-serif;
    z-index: +1;
}

.awardsExpand, .businessExpand, .CADExpand {
    margin-top: -200px;
}

.electricalExpand, .mechanicalExpand, .programmingExpand {
    margin-top: -478px;
}

.businessExpand, .mechanicalExpand {
    margin-left: -282px;
}

.CADExpand, .programmingExpand {
    margin-left: -564px;
}

#awardsX, #businessX, #CADX, #electricalX, #mechanicalX, #programmingX {
    width: 20px;
    margin-top: 10px;
    margin-left: 722px;
}

#awardsFiles #businessFiles #CADFiles #electricalFiles #mechanicalFiles #programmingFiles {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#awardsFiles a, #businessFiles a, #CADFiles a, #electricalFiles a, #mechanicalFiles a, #programmingFiles a {
    color: #678b98;
}

#programmingFiles {
    margin-top: 80px;
}

#CADFiles {
    margin-top: 60px;
}

#awardsFiles, #businessFiles, #electricalFiles, #mechanicalFiles {
    margin-top: 150px;
}

small {
    font-size: 8pt;
}
