/*
colors for reference
#1982CC - medium blue
#0E4871 - dark blue
#ACBFC6 - dark gray
*/

/*all styling for main page*/
body {
	background: #DDE5E8;
    margin: 0;
	}
/*Here is the style for the logo on every page */

div.logo {
    margin-right: 2.5%;
    margin-left: auto;
    margin-top: 30px;
    max-width: 10%;
    }

div.logo img {
    max-width: 100%;
    }

/*BEGIN HEADER STYLING*/
div.navBar {
    background-color: #ACBFC6; /*This is the darker gray */
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    opacity: 75%;
    z-index: 5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

div.navBar div.item {
    display: inline-block;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Nanum Gothic', sans-serif;
    }

div.navBar div.item img.logo {
    padding-right: 30px;
    margin-bottom: -10px;
    }

div.navBar div.item a:not(.logoLink) {
    display: block;
    color: #000000;
    text-align: center;
    padding: 18px 30px;
    text-decoration: none;
    font-size: 17px;

    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    }

div.navBar div.item a.active {
    color: #ACBFC6;
    background-color: #000000;
    }

div.navBar div.item a:hover:not(.active) {
    color: #FFFFFF;
    }

    /*BEGIN DROPDOWN MENU STYLING*/

div.navBar div.item div.dropdown {
    position: relative;
    display: inline-block;
    }

div.navBar div.item div.dropbtn {
    cursor: pointer;
    }

div.navBar div.item div.dropdown-content {
    display: none;
    position: relative;
    position: absolute;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: +1;
    overflow: auto;
    background-color: #ACBFC6;
    }

div.navBar div.item div.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

div.navBar div.item div.dropdown:hover .dropdown-content {
    display: block;
    }

div.navBar div.item div.dropdown:hover .dropbtn {
    color: #FFFFFF;
    background-color: #ACBFC6;
    }

    /*END DROPDOWN STYLING*/

/*END NAV BAR STYLING*/


div.mainPageContent {
    width: 100%;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    }

div.teamPicture {
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    }

div.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    }

div.caption span {
    background-color: black;
    color: white;
    padding: 18px;
    font-size: 35px;
    letter-spacing: 3px;
    }

div.mainPageContent div.hr {
    min-height: 5px;
    background-color: #FFFFFF;
    width: 100%;
    }

div.teamInfo {
    background-color: #ACBFC6;
    color: #000000;
    width: 100%;
    margin-top: 0px;
    }

div.teamInfo legend {
    font-size: 24pt;
    text-align: center;
    border: 2px solid black;
    background-color: #000000;
    color: #FFFFFF;
    }

div.teamInfo table {
    margin-right: auto;
    margin-left: auto;

    border-spacing: 15px;
    }

div.teamInfo td.name {
    font-size: 20pt;
    }

div.teamInfo td.info {
    font-size: 16pt;
    }
div.missionStatement {
    background-color: #0E4871;
    color: white;
    padding: 30px;
}
div.missionStatement h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
}

div.shortAbout {
    margin: 10px 20px 0px 20px;
}

div.shortAbout p {
    font-family: 'Roboto', sans-serif;
    color: #0E4871;
    font-size: 14pt;
    line-height: 1.25;
}

#SATable td {
    height: 20px;
    padding-right: 50px;
}

div.socialMedia img {
    width: 50px;
}

div.socialMedia table {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

div.socialMedia td {
    padding: 20px;
}

div.randomInfo {
    padding-bottom: 20px;
    color: white;
    text-align: center;
}

.slides {
    width: 100%;
    display: none;
    margin-left: auto;
    margin-right: auto;
}
* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #1F90E3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

div.contactForm {
    padding: 70px;
    font-family: 'Roboto', sans-serif;
}

div.pageBottom {
    background-color: #0E4871;
    font-family: 'Roboto', sans-serif;
}
div.teamHistory, .lastSeason, .sponsors {
    padding: 50px;
    color: #678b98;
}

div.teamHistory h3, .lastSeason h3, .sponsors h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
}
div.teamHistory p, .lastSeason p, .sponsors p {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

div.resourceLinks table {
    margin: 60px auto 20px auto;
    text-align: center;
}

.text {
    visibility:hidden;
    position: relative;
    top: 90px;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
}

.awardsImage {
    background: url("images/subteams/awards.jpg");
    width: 200px;
    height: 200px;
}

.awardsImage:hover > .awardsOverlay {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: black;
    opacity: 0.5;
}

.awardsImage:hover .text {
    visibility:visible;
}

.businessImage {
    background: url("images/subteams/business.jpg");
    width: 200px;
    height: 200px;
}

.businessImage:hover > .businessOverlay {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: black;
    opacity: 0.5;
}

.businessImage:hover .text {
    visibility:visible;
}

.CADImage {
    background: url("images/subteams/CAD.jpg");
    width: 200px;
    height: 200px;
}

.CADImage:hover > .CADOverlay {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: black;
    opacity: 0.5;
}

.CADImage:hover .text {
    visibility:visible;
}

.electricalImage {
    background: url("images/subteams/electrical.jpg");
    width: 200px;
    height: 200px;
}

.electricalImage:hover > .electricalOverlay {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: black;
    opacity: 0.5;
}

.electricalImage:hover .text {
    visibility:visible;
}

.mechanicalImage {
    background: url("images/subteams/mechanical.jpg");
    width: 200px;
    height: 200px;
}

.mechanicalImage:hover > .mechanicalOverlay {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: black;
    opacity: 0.5;
}

.mechanicalImage:hover .text {
    visibility:visible;
}

.programmingImage {
    background: url("images/subteams/programming.jpg");
    width: 200px;
    height: 200px;
}

.programmingImage:hover > .programmingOverlay {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: black;
    opacity: 0.5;
}

.programmingImage:hover .text {
    visibility:visible;
}

div.resourceLinks td {
    padding: 0px 10px 0px 10px;
}

#onion {
    border-radius: 50%;
    height: 150px;
}

div.IMSAWebsite {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.IMSAWebsite td {
    width: auto;
}

.IMSAWebsite h3 {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 100;
    font-size: 12pt;
    color: #678b98;
}

.IMSAWebsite h5, span {
    font-size: 14pt;
    font-family: "Roboto", sans-serif;
}

.IMSAWebsite span {
    color: #1982CC;
    border: #1982CC 1px solid;
    padding: 8px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    height: 0.5px;
    background: #86a2ac;
}

.awardsExpand, .businessExpand, .CADExpand, .electricalExpand, .mechanicalExpand, .programmingExpand {
    width: 200px;
    background-color: white;
    color: #678b98;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    border-radius: 0px 0px 5px 5px;
}